/* * {
  margin: 0;
  padding: 0;
} */

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  bottom: 50px;
}

body {
  font-family: "Commissioner", sans-serif;
}

.slider-inner-container {
  border: 1px solid hsl(240, 18%, 77%);
}

.user-name {
  color: hsl(240, 38%, 20%);
  font-weight: 700;
}

.user-job-title {
  color: hsl(240, 18%, 77%);
}

.prev-btn,
.next-btn {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  outline: none;
  margin: 0;
  padding: 0.6rem;
}

.review-btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 9.3rem;
  border: 1px solid hsl(240, 18%, 77%);
  width: 6.25rem;
  border-radius: 3.1rem;
}

@media screen and (max-width: 860px) {
  .slider-inner-container {
    grid-template-rows: auto auto; /* Set two rows for the image and the review */
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0.62rem;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .review-btn-container {
    margin: 0 auto;
    margin-top: 5px;
    position: absolute;
    top: 18.75rem;
    left: 0;
    right: 0;
    margin-top: 1.5rem;
  }

  .user-img {
    width: 18.75rem;
    margin: 0.62rem;
  }

  .slider-img-container,
  .slider-review-outer-container {
    width: 100%; /* Make both containers full width */
  }

  .slider-img-container {
    display: grid;
    order: 1; /* Change the order to make it appear first */
    justify-content: center;
  }

  .slider-review-outer-container {
    display: grid;
    order: 2; /* Change the order to make it appear second */
    width: 15.6rem;
    margin: 0 auto;
  }

  .slider-review-container {
    margin: 0.62rem;
  }
}

@media screen and (min-width: 861px) {
  .slider-outer-container {
    width: 68.75rem;
  }

  .slider-inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }

  .slider-review-outer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .review {
    font-size: 2em;
  }

  .slider-user-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15.6rem;
    font-size: 1.2em;
  }

  .review-btn-container {
    position: absolute;
    bottom: 1.56rem;
    background-color: #ffffffff;
  }
}
